@import 'color';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $dark-cyan;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, 70%;
    background-position: -350px -700px, 800px 500px;
}

.card{
    height: 374px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;

    img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        border-radius: 50%;
        margin-top: -50px;
        border: 5px solid white;
    }
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    line-height: 1.8;

    span{
        font-weight: 400;
        color: $dark-gray;
    }

    h4{
        font-weight: 400;
        color: $dark-gray;
    }
}

.info-profile{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid rgb(201, 201, 201);
    line-height: 1.5;
}

.number-info{
    font-weight: bold;
}

.text-info{
    font-size: 12px;
    color: $dark-gray;
}