@import 'color';
@import 'reset';
@import 'config';
@import 'responsive';

body {
    background-color: $dark-cyan;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 40vh, left 50vw top 50vh;


    .card {
        height: 374px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;

        hr {
            margin-top: 15px;
            width: 100%;
            border: 1px solid rgb(235, 235, 235);
        }

        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }


        .profile {
            @include flex;
            justify-content: center;

            img {
                border-radius: 50%;
                margin-top: -50px;
                border: 5px solid white;
            }
        }

        .info-card {
            @include flex;
            margin-top: 15px;
            line-height: 1.8;

            span {
                font-weight: 400;
                color: $dark-gray;
            }

            h4 {
                font-weight: 400;
                color: $dark-gray;
            }
        }

        .info-profile {
            display: flex;
            text-align: center;
            justify-content: space-around;
            padding-top: 20px;
            width: 80%;
            line-height: 1.5;



            .info__number {
                font-weight: bold;
            }

            .info__text {
                font-size: 12px;
                color: $dark-gray;
            }
        }
    }
}